*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}
.header{
   padding: 40px 0;
}
.header__reclame img{
   width: 100%;
}
.d-flex{
   flex-wrap: wrap;
}
.header__top{
   padding-bottom: 30px;
}
.header__logo{
   font-size: 22px;
   color: rgb(255, 6, 6);
}
.header__logo:hover{
   text-decoration: none;
   color: rgb(153, 6, 6);
}
.header__bottom-link{
   display: block;
   padding: 12px 30px;
   border-top: 4px solid rgb(194, 194, 194);
   color: rgb(122, 122, 122);
   font-size: 18px;
}
.header__bottom-link:hover{
   /* background: rgb(200, 189, 189); */
   border-top: 4px solid rgb(34, 168, 209);
   text-decoration: none;
   color: rgb(34, 168, 209);
}
.main{
   padding-bottom: 40px;
}
.main .item{
   padding: 15px;
   box-shadow: 0 0 8px black;
   border-radius: 5px;
   margin-bottom: 15px;
}
.item-top{
   color: rgb(160, 160, 160);
   border-bottom: 1px dashed black;
   padding-bottom: 10px;
}
.item-top span{
   color: red;
   font-weight: bold;
}
.item h4{
   color: blue;
   font-weight: bold;
}
.item-date{
   text-align: right;
   color: red;
   border-top: 1px dashed black;
   padding-top: 10px;
}
.next{
   padding: 7px 14px;
   border: 1px solid black;
}
.footer{
   padding: 20px 0;
   background: grey;
   color: whitesmoke;
}
.header__bottom{
   position: relative;
}

